.card{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center ;
    padding: 50px;
    
}
.form{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 20px;
    width: 100%;

}
.screen{
    min-height: 100svh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input{
    background-color: black;
    font-size: small;
    border: 2px solid gray;
    text-align: center;
    color: white;
    border-radius: 6px;
    padding: 12px;
    


}
.submit{
    background-color: rgb(9, 154, 238);
    border-radius: 6px;
    padding: 12px;

}
.heading{
    font-size: large;
    font-weight: bold;
}
.link{
    color:  #1A73E8;
    font-size: small;
}
.label{
    font-size: small;
}
